.card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 4px;
    margin-top: 15px;
}
.card-body {
    display:flex;
    padding:15px;
}

h3{
    font-size: 32px;
    margin-left: 56px;
}

img{
    max-height: 200px;
}
.meta-info {
    color: grey;
    margin-top:-28px;
    font-size: 14px;
    margin-left: 56px;
}
#innerp {
    margin-left: 56px;
}
.continue-reading{
    font-style: italic;
    color: gray;
    margin-left: 56px;
    text-decoration: none !important;
}
.continue-reading:visited, .continue-reading:active, .continue-reading:focus {
    text-decoration: none !important;
    color: #6c757d;
}
.continue-reading:hover{
    text-decoration: underline !important;

}