.title{
    font-size: 2em;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 0.7rem;
}
.title a {
    color: black !important;
    text-decoration: none !important;
}

.navbar {
    font-size: 1.2em;
    text-align: center;
    color:#6c757d;
    border-bottom: 1px solid #e5e5e5;
    padding:0.5rem;
}
.nav-item {
    padding: 10px;
    text-decoration: none !important;
    color:#6c757d;

}